# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Audio data (DO NOT COMMIT)
app/data/songs/

# Temporary files
*.wav
*.mp3
*.ogg

# Redis / Postgres dumps (future-proof)
*.rdb
*.sql
